body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
body::-webkit-scrollbar { display: none;}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 15px;
}
p {
  all: unset;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
.rose {
  box-shadow: 5px 6px 5px #dc8a78;
}
.pink {
  box-shadow: 5px 6px 5px #ea76cb;
}
.lavender {
  box-shadow: 5px 6px 5px #7287fd;
}
.maroon {
  box-shadow: 5px 6px 5px #e64553;
}
